version: "3.8"

services:
  wallet-app:
    build: .
    container_name: wallet-app
    volumes:
      - ./certs:/certs:ro   # Mount local certs folder
    environment:
      SPRING_DATASOURCE_URL:   ${SPRING_DATASOURCE_URL}
      SPRING_DATA_REDIS_URL: ${SPRING_REDIS_URL}
      SPRING_KAFKA_BOOTSTRAP_SERVERS:  ${KAFKA_BOOTSTRAP_SERVERS}
      SPRING_KAFKA_PROPERTIES_SSL_KEYSTORE_LOCATION: /etc/secrets/client.keystore.p12
      SPRING_KAFKA_PROPERTIES_SSL_TRUSTSTORE_LOCATION: /etc/secrets/client.truststore.jks
      SPRING_KAFKA_PROPERTIES_SSL_KEYSTORE_PASSWORD: ${KAFKA_SSL_KEYSTORE_PASSWORD}
      SPRING_KAFKA_PROPERTIES_SSL_KEY_PASSWORD: ${KAFKA_SSL_KEY_PASSWORD}
      SPRING_KAFKA_PROPERTIES_SSL_TRUSTSTORE_PASSWORD: ${KAFKA_SSL_TRUSTSTORE_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      GRAFANA_PROM_REMOTE_WRITE_URL: ${GRAFANA_REMOTE_URL}
      GRAFANA_PROM_USERNAME: ${GRAFANA_USERNAME}
      GRAFANA_PROM_PASSWORD: ${GRAFANA_PASSWORD}
    ports:
      - "8080:8080"

    restart: unless-stopped
  alloy:
    image: grafana/alloy:v1.12.0
    command: ["run", "/etc/alloy/config.alloy"]
    environment:
      GCLOUD_HOSTED_METRICS_ID: ${HOSTED_METRICS_ID}
      GCLOUD_HOSTED_METRICS_URL: ${HOSTED_METRICS_URL}
      GCLOUD_HOSTED_LOGS_ID: ${HOSTED_LOGS_ID}
      GCLOUD_HOSTED_LOGS_URL: ${HOSTED_LOGS_URL}
      GCLOUD_RW_API_KEY: ${RW_API_KEY}
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy:ro
    depends_on:
      - wallet-app
